body {
  height: 100%;
  min-height: 1000px;
}

@keyframes skate {
  0% {
    left: 0;
  }
  50% {
    left: 50%;
  }
  100% {
    left: 100%;
  }
}


#skateboardContainer {
  position: relative;
  left: 0;
  width: 200px;
  animation-name: skate;
  animation-duration: 2.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#deck {
  height: 10px;
  width: inherit;
  background-color: blue;
}

#leftwheel{
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background-color: black;
}

#rightwheel{
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background-color: black;
}

#ground {
  position: relative;
  bottom: 0px;
  height: 50px;
  background-color: green;
}

#wheelContainer {
  width: inherit;
  display: flex;
  justify-content: space-around;
}

#tylerHead {
  position: relative;
  left: 40%;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-color: black;
}

#tylerNeck {
  position: relative;
  left: 48%;
  background-color: black;
  height: 20px;
  width: 10px;
}


#tylerLeftArm {
  background-color: black;
  height: 20px;
  width: 125px;
}
#tylerRightArm {
  background-color: black;
  height: 20px;
  width: 125px;
}

#tylerBody {
  background-color: black;
  height: 175px;
  width: 300px;
}

#tylerLeftLeg {
  background-color: black;
  height: 75px;
  width: 20px;
}
#tylerRightLeg {
  background-color: black;
  height: 75px;
  width: 20px;
}

#tylerTorso {
  display: flex;
  justify-content: center;
}

#tylerBottom {
  display: flex;
  justify-content: space-around;
}
