canvas#viewport {
  border: 1px solid white;
  width: 200px;
  float: right;
}

body {
  background-color: teal;
}

@keyframes skate {
  0% {
    left: 0;
  }
  50% {
    left: 40%;
  }
  100% {
    left: 80%;
  }
}

@keyframes spin {
  0% {
  transform:rotate(0deg);
  }
  50% {
  transform:rotate(180deg);
  }
  100% {
  transform:rotate(360deg);
  }
}

#skateboardContainer {
  position: relative;
  left: 0;
  width: 180px;
  animation-name: skate;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#deck {
  height: 10px;
  width: inherit;
  background-color: blue;
}

#leftwheel, #rightwheel{
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background-image: url("wheel.png");
  animation-name: spin;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#ground {
  height: 20px;
  background-color: green;
}

#wheelContainer {
  width: inherit;
  display: flex;
  justify-content: space-around;
}

img {
  height: 180px;
  width: 180px;
}

canvas {
  float: left;
}
